html			{ font-size: 62.5%; }/*追加*/

body			{
				margin:0px;
				padding:0px;
				color:#333;
				font-size:1.3rem;/*追加*/
				}

div,p,li		{
				box-sizing:border-box;
				}

ul				{
				margin:0px;
				padding:0px;
				}

li				{
				list-style-type: none;
				margin:0px;
				padding:0px;
				}

p				{
				margin:0px;
				}

a:link			{
				color:#333;
				}
a:visited		{
				color:#333;
				}
a:hover			{
				color:#333;
				}
a:active		{
				color:#333;
				}


#header			{
				width:100%;
				height:30px;
				background:#000;
				text-align:center;
				}

#header button	{
				position:absolute;
				top:2px;
				left:2px;
				color:#000;
				font-size:14px;
				padding:2px 15px;
				background:#fff;
				border:none;
				}

#header p.title	{
				color:#fff;
				line-height:2.0;
				}

.button--search {
				display:inline-block;
				font-size:1.6rem;/*追加*/
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;

				text-align:center;
				line-height:2.1;
				color:#fff;
				background-color:#00a55a;
				background-image:url("../images/icon/search.png");
				width:150px;
				height:40px;
				background-repeat:no-repeat;
				background-size: 16px;
				background-position: center left 10px;
				padding-left:10px;
				cursor:pointer;
				box-sizing:border-box;
				border:0px;
				}
.button--clear {
				display:inline-block;
				font-size:1.6rem;/*追加*/
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;

				text-align:center;
				line-height:2.1;
				color:#fff;
				background-color:#dd4b39;
				background-image:url("../images/icon/clear.png");
				width:150px;
				height:40px;
				background-repeat:no-repeat;
				background-size: 16px;
				background-position: center left 10px;
				padding-left:10px;
				cursor:pointer;
				box-sizing:border-box;
				border:0px;
				}
.button--close {
				display:inline-block;
				font-size:1.6rem;/*追加*/
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;

				text-align:center;
				line-height:2.1;
				color:#fff;
        /*
				background-color:#dd4b39;
				background-image:url("../images/icon/clear.png");
        */
        background-color:#000;
				width:150px;
				height:40px;
        /*
				background-repeat:no-repeat;
				background-size: 16px;
				background-position: center left 10px;
				padding-left:10px;
        */
				cursor:pointer;
				box-sizing:border-box;
				border:0px;
				}

#searchHeader	{
				margin:10px 10px 0px 10px;
				padding:5px;
				background:#efefef;
				position:relative;
				height:40px;
				}


#searchHeader p {
				position:absolute;
				left:10px;
				top:10px;
				}

#searchHeader button#showBtn {
				position:absolute;
				right:2px;
				top:5px;
				width:120px;
				height:30px;
				margin-right:3px;
				color:#fff;
				background-color: #49a261;
				border:none;
				border-radius: 3px;
				}

ul#searchArea	{
				margin:0px 10px
				}

ul#searchArea li {
				border:1px solid #efefef;
				height:40px;
				border-radius: 4px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				position:relative;
				cursor:pointer;
				}

#searchArea li.arrow {
				background-image: url('../images/listArrow.png');
				background-repeat: no-repeat;
				background-position: center right 5px;
				}

/*
ul#searchArea li:hover {
				background-color:#ddd;
				}
*/

ul#searchArea li p.title {
				position:absolute;
				left:10px;
				top:9px;
				}

ul#searchArea li p.value {
				position:absolute;
				right:30px;
				top:9px;
				}

ul#list			{
				margin:10px;
				font-size:0px;
				}

ul#list li.head {
				background:#000;
				color:#fff;
				display:inline-block;
				padding:3px;
				text-align:center;
				font-size:1.4rem;
				border:1px solid #fff;
				}

ul#list li.data {
				background:#fff;
				border:1px solid #ddd;
				display:inline-block;
				padding:3px;
				font-size:1.4rem;
				}

.btnArea		{
				margin-top:10px;
				text-align:center;
				}


/* shohincode名で追加 */
li.syohincode	{
				width:5%;
				text-align:left;
				}

li.syohin		{
				width:30%;
				text-align:left;
				}

li.zaiko		{
				width:10%;
				text-align:right;
				}

li.irisuu		{
				width:10%;
				text-align:right;
				}

li.hakosuu		{
				width:10%;
				text-align:right;
				}

li.tokuisakicode {
				width:5%;
				text-align:left;
				}

li.tokuisaki	{
				width:30%;
				text-align:left;
				}


/* moved html */
/******** モーダルダイアログ**************************************/
.modal-overlay	{
				z-index:1;
				display:none;
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:120%;
				background-color:rgba(0,0,0,0.75);
				}

#kbnArea1		{
				background:#fff;
				position:fixed;
				z-index:2;
				height:300px;
				display:none;
				}

#kbnArea1 ul	{
				width:200px;
				height:300px;
				overflow:auto;
				}

#kbnArea1 ul li.head {
				background:#efefef;
				padding:5px;
				}

#kbnArea1 ul li.list {
				padding:10px;
				text-align:center;
				border:1px solid #efefef;
				cursor:pointer;
				}

#kbnArea2		{
				background:#fff;
				position:fixed;
				z-index:2;
				height:20px;
				display:none;
				}

#kbnArea2 ul	{
				width:200px;
				}

#kbnArea2 ul li.head {
				background:#efefef;
				padding:5px;
				}

#kbnArea2 ul li.list {
				padding:10px;
				text-align:center;
				border:1px solid #efefef;
				cursor:pointer;
				background:#fff;
				}
#kbnArea3		{
				background:#fff;
				position:fixed;
				z-index:2;
				height:20px;
				display:none;
				}

#kbnArea3 ul	{
				width:200px;
				}

#kbnArea3 ul li.head {
				background:#efefef;
				padding:5px;
				}

#kbnArea3 ul li.list {
				padding:10px;
				text-align:center;
				border:1px solid #efefef;
				cursor:pointer;
				background:#fff;
				}

#tokuArea		{
				background:#fff;
				position:fixed;
				z-index:2;
        /*
				height:300px;
        */
				display:none;
				}

#tokuArea ul	{
				width:100%;
				height:300px;
				overflow:auto;
				margin-top:10px;
				}

#tokuArea ul li.head {
				background:#efefef;
				padding:5px;
				}

#tokuArea ul li.list {
				padding:10px;
				text-align:left;
				border:1px solid #efefef;
				cursor:pointer;
				background:#fff;
				}

.formArea table	{
				width:100%;
				}

.formArea table th {
				background:#efefef;
				padding:5px;
				border:1px solid #efefef;
				}

.formArea table td {
				background:#fff;
				padding:5px;
				border:1px solid #efefef;
				}


/*ログイン******************************************************/
#loginOverlay	{
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:120%;
				z-index:1;
				background-color:rgba(255,255,255,0.5);
				}

#loginArea		{
				background:#333;
				color:#fff;
				margin:0px auto;
				width:320px;
				height:300px;
				box-sizing: border-box;
				margin-top:150px;
				position:relative;
				border-radius: 3px;
				}

#loginArea p	{
				width:100%;
				text-align:center;
				color:#fff;
				box-sizing: border-box;
				padding:10px;
				}

#loginArea p.title {
				position:absolute;
				top:5px;
				left:0px;
				}

#loginArea ul	{
				position:absolute;
				top:40px;
				width:100%;
				text-align: center;
				}

#loginArea li	{
				list-style: none;
				}

#loginArea button {
				width:250px;
				height:36px;
				color:#fff;
				box-sizing: border-box;
				position:relative;
				border:none;
				background-color:#00a55a;
				background-image:url("../images/icon/lock2.png");
				background-repeat:no-repeat;
				background-size: 16px;
				background-position: center left 10px;
				padding-left:10px;
				top:180px;
				left:35px;
				}

#loginArea p.errorMessage {
				position:absolute;
				box-sizing: border-box;
				color:#f66;
				left:0px;
				top:130px;
				visibility:visible;
				}

#loginArea p.forgotten {
				position:absolute;
				top:215px;
				left:0px;
				}

.forgotten a:link{ color:#fff; }
.forgotten a:visited{ color:#fff; }
.forgotten a:hover{ color:#fff; }
.forgotten a:active{ color:#fff; }



/*フォーム******************************************************/

input[type="password"] {
				height:24px;
				}

input[type="checkbox"] {
				height:24px;
				}

input[type="text"] {
				height:24px;
				/*
				display:block;
				*/
				}
input[type="number"] {
				height:24px;
				/*
				display:block;
				*/
				}

input[type="text"].ymd {
				width:80px;
				text-align:center;
				}

input[type="button"].search {
				background-image:url(../images/search.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="button"].calendar {
				background-image:url(../images/calendar_2.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="button"].prev {
				background-image:url(../images/control_play.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="button"].next {
				background-image:url(../images/control_play.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="button"].start {
				background-image:url(../images/control_start.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="button"].end {
				background-image:url(../images/control_end.png);
				background-repeat:no-repeat;
				width:30px;
				height:30px;
				background-position:center;
				}

input[type="checkbox"] {
				vertical-align:middle;
				}

input.size50	{ width:400px; }
input.size40	{ width:320px; }
input.size30	{ width:240px; }

input.size20	{ width:160px; }
input.size15	{ width:120px; }
input.size10	{ width:80px; }
input.size5		{ width:40px; }

select			{
				height:30px;
				width:120px;
				}

.hissu			{
				color:#F00;
				font-weight:bold;
				}

p.error			{
				color:#dd4839;
				padding:3px;
				}


/*レイアウト（ align & margin ）**********************************/
/* Align */
.align--left	{ text-align:left; }
.align--center	{ text-align:center; }
.align--right	{ text-align:right; }

/* Margin　*/
.mt5			{ margin-top:5px; }
.mt10			{ margin-top:10px; }
.mt15			{ margin-top:15px; }
.mt20			{ margin-top:20px; }
.mt30			{ margin-top:30px; }
.mt40			{ margin-top:40px; }
.mt50			{ margin-top:50px; }

.mb5			{ margin-bottom:5px; }
.mb10			{ margin-bottom:10px; }
.mb15			{ margin-bottom:15px; }
.mb20			{ margin-bottom:20px; }
.mb30			{ margin-bottom:30px; }
.mb50			{ margin-bottom:50px; }

.ml5			{ margin-left:5px; }
.ml10			{ margin-left:10px; }
.ml15			{ margin-left:15px; }
.ml20			{ margin-left:20px; }
.ml30			{ margin-left:30px; }
.ml50			{ margin-left:50px; }


/* スマートフォン ************************************************/
@media screen and (max-width: 740px) {

body { font-size: 1.2rem; }

.button--search { width:90%; }
.button--clear { width:90%;margin-top:10px; }
.button--close { width:90%;margin-top:10px; }

#loginArea { margin-top:20px;}

#acordion			{ display:none; }
li.syohincode		{ width:20%; }
li.syohin			{ width:80%; }
li.zaiko			{ width:15%; }
li.irisuu			{ width:15%; }
li.hakosuu			{ width:15%; }
li.tokuisakicode	{ width:15%; }
li.tokuisaki		{ width:40%; }

ul#searchArea li p.value {
					position:absolute;
					right:30px;
					top:9px;
					}

/* moved html */
#tokuArea			{ width:95%; }
#kbnArea1			{ width:95%; }
#kbnArea1 ul		{ width:100%; }

#kbnArea2			{ width:95%; }
#kbnArea2 ul		{ width:100%; }

#kbnArea3			{ width:95%; }
#kbnArea3 ul		{ width:100%; }

ul#list li.head		{
					background:#000;
					color:#fff;
					display:inline-block;
					padding:5px;
					text-align:center;
					font-size:1.2rem;
					border:1px solid #fff;
					}

ul#list li.data		{
					background:#fff;
					border:1px solid #ddd;
					display:inline-block;
					padding:5px;
					font-size:1.2rem;
					}
}
